<!DOCTYPE html>
<html lang="en">
	<head>
		<%= render 'head' %>
		<meta name="description" content="Frequently Asked Questions Page">
	</head>
	<body>
		<%= render 'top-bar' %>
		<%= render 'nav-bar' %>
		<div class="container-fluid grey-background pb-3 pt-4" id="faq-page-outer-container">
			<div class="container-fluid p-0" id="faq-page-inner-container">
				<p class="responsive-text-size yellow-text">Bringing live music to you in a time of social distancing</p>
				<p class="green-text responsive-text-big">Frequently Asked Questions (FAQ)</p>
				<p class="responsive-text-med">What's this all about?</p>
				<ul class="pl-4 pl-sm-5">
					<li class="responsive-text-size">
						Social distancing guidelines related to the COVID-19 pandemic have made it hard to find live music and comradery in the usual places. Driveway Bands is a temporary community service, bringing live music - and a reinvigorated sense of connection - to you and your neighbors, on your property. Almost any open space can become a performance venue.
					</li>
				</ul>
				<p class="responsive-text-med">What kind of music do you play?</p>
				<ul class="pl-4 pl-sm-5">
					<li class="responsive-text-size">
						The band doing this - Random and True - mostly covers singer/songwriters from the 70s, 80s and 90s. Please visit <%= link_to("randomandtrue.com", 'https://www.randomandtrue.com/', class: "responsive-text-size", target: "_blank") %> to access their compilation video, song list and to learn more.
					</li>
				</ul>
				<p class="responsive-text-med">What does it cost?</p>
				<ul class="pl-4 pl-sm-5">
					<li class="responsive-text-size">
						This project is intended to serve and strengthen ties within the community of Estes Park. In that spirit, Random and True has agreed to temporarily reduce prices compared to their regular rate. An on-your-property concert costs $100 for a 60-minute set and $150 for a 90-minute set.
					</li>
				</ul>
				<p class="responsive-text-med">Which towns do you serve?</p>
				<ul class="pl-4 pl-sm-5">
					<li class="responsive-text-size">
						Concerts are available in the following towns:
							<ul class="pb-2 pt-1">
								<li>Allenspark</li>
								<li>Drake</li>
								<li>Estes Park</li>
								<li>Glen Haven</li>
								<li>Meeker Park</li>
								<li>Pinewood Springs</li>
							</ul>
					</li>
				</ul>
				<p class="responsive-text-med">What will I (the host) need to provide?</p>
				<ul class="pl-4 pl-sm-5">
					<li class="responsive-text-size">
						The band will need a dry and fairly flat area about 6' x 12'. Electric power is needed to run the PA, but an unamplified concert is an option for locations with no electricity.
					</li>
				</ul>
				<p class="responsive-text-med">And what if it rains?</p>
				<ul class="pl-4 pl-sm-5">
					<li class="responsive-text-size">
						In the event of inclement weather, you may reschedule or cancel with no obligation. We're all friends here!
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>