<!DOCTYPE html>
<html lang="en">
	<head>
		<%= render 'head' %>
		<meta name="description" content="How It Works Page">
	</head>
	<body>
		<%= render 'top-bar' %>
		<%= render 'nav-bar' %>
		<div class="container-fluid grey-background pb-3 pt-4" id="how-it-works-page-outer-container">
			<div class="container-fluid p-0" id="how-it-works-page-inner-container">
				<p class="responsive-text-size yellow-text">Bringing live music to you in a time of social distancing</p>
				<p class="green-text responsive-text-big">How It Works</p>
				<ul class="pl-4 pl-sm-5">
					<li class="responsive-text-size">Schedule your concert (see upper right)</li>
					<li class="responsive-text-size">The band will arrive at the place and time you specify</li>
					<li class="responsive-text-size">The band will play a 60- or 90- minute set</li>
					<li class="responsive-text-size">Your guests and you will have a wonderful time</li>
				</ul>
			</div>
		</div>
	</body>
</html>