		<div class="container-fluid navbar-text p-0" id="top-bar-container">
			<nav class="navbar navbar-expand navbar-light bg-dark px-1 px-sm-3 px-md-4">
				<%= image_tag("dblogo.png", alt: "Driveway Bands logo", class: "m-0 navbar-brand p-0", id: "db-logo") %>
				<span class="bolder-text green-text ml-2 ml-sm-4 ml-md-5 responsive-text-big">Driveway Bands</span>
	 		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSchedule" aria-controls="navbarSchedule" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSchedule">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="black-bg bolder-text btn green-text nav-link responsive-text-size" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/randomandtrue'});return false;">Schedule a Concert</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
